
html * {
  transition: 0.5s all;
}

body {
  font-family: "Lato", sans-serif;
  color: #010c2f;
  font-size: 16px;
  font-weight: 400;
  overflow-x: hidden;
  background-color: #fff;
}
.bg-image {
  background-image:  url("./assets/images/slide2.jpg");
  background-size: cover;
  background-position:right center;
  background-repeat: no-repeat
}

.our-service{
  background-image:  url("./assets/images/bg-ser.webp");
  background-size: cover;
  background-position:center;
  background-repeat: no-repeat
}
.our-cta2{
  background-image:  url("./assets/images/orctabg.jpg");
  background-size: cover;
  background-position:center center;
  background-repeat: no-repeat
}
.footer-bg{
  background-image:  url("./assets/images/bg-foot.webp");
  background-size: cover;
  background-position:center center;
  background-repeat: no-repeat
}

  @import "tailwindcss";